### for 반복문
- 리스트, 문자열 등등 순회 가능한 객체를 순회하면서 값을 처리할 때 사용
- 아래와 같은 문법으로 사용
- 여기서 i는 매번 수행 될 때마다, a의 아이템으로 순차적으로 변경 됨
- 모든 아이템이 순회되면 for 블록 종료

```python

a = [1,2,4,3,5]
for i in a:
    print(i,i*2)

```

In [1]:
a = [1,2,4,3,5]
for i in a:
    print(i,i*2)

1 2
2 4
4 8
3 6
5 10

### 문자열의 아이템 출력하기
- 문자열의 경우 순회 가능, 리스트의 유사하게 순회 가능

In [ ]:
#실수 정수형은 순회 할 수 없다
for i in 10:
    print(x)

In [2]:
a = 'hello world'
for character in a:
    print(character)

h
e
l
l
o

w
o
r
l
d

### 리스트 아이템 출력하기

In [4]:
a = [1,4,3,6,4]
for i in a:
    if i % 2 == 0:
        print(i/2)
    else:
        print(i+1)

2
2.0
4
3.0
2.0

### dict의 아이템 출력하기
- dictionary의 경우 기본적으로 순회 하게 되면 key 값을 참조
- keys()함수를 이용하여 key 값만 순회 가능
- values()함수를 이용하여 value 값만 순회 가능
- items()함수를 이용하여 tuple 형태로 key, value 순회 가능

In [7]:
a = {'korea' : 'seoul', 'japan' : 'tokyo', 'canada' : 'ottawa'}
for i in a:
    print(i, a[i])

korea seoul
japan tokyo
canada ottawa

In [8]:
for i in a:
    print(i)

korea
japan
canada

In [9]:
for i in a:
    print(a[i])

seoul
tokyo
ottawa

In [11]:
for i in a.values():
    print(i)

seoul
tokyo
ottawa

In [13]:
#items함수는 기본적으로 튜플 형태이다.
list(a.items())

[('korea', 'seoul'), ('japan', 'tokyo'), ('canada', 'ottawa')]

In [14]:
#튜플 형식은 ,를 이용하여 두개의 값을 갖고 올 수 있다.
for key, value in a.items():
    print(key, value)

korea seoul
japan tokyo
canada ottawa

### for에서 index 사용하기
- 기본적으로 for에 리스트를 순회하는 경우, 값만 추출 한다.
- 아래와 같은 코드로 인덱스와 값 모두 사용이 가능하다(enumerate 함수 이용)
```python
a = [1,2,3,4,5]
for i, value in enumerate(a):
    print i, value
```

In [18]:
a = [1,2,3,4,5]
for index, num in enumerate(a):
    print(index, num)

0 1
1 2
2 3
3 4
4 5

In [19]:
a = [1,2,3,4,5]
for index, num in enumerate(a):
    if index > 3:
        print(index, num)

4 5

### break
- for의 경우에도 특정 조건일 때, loop 종료가 가능하다.

In [25]:
a = [500,400,300,200,100,50]
for i in a:
    if i < 200:
        break
    print(i)

500
400
300
200

### continue
- 해당 아이템을 건너 뛰고 싶을 때 사용한다.

In [27]:
a = [100,90,80,70,60,50,40,30,20]
for i in a:
    if i >= 60 and i <= 70:
        continue
    print(i)

100
90
80
50
40
30
20

### loop 중첩
- 반복문의 경우에도 중첩하여 사용이 가능하다.
- 중첩이라는 것은 반복문 블록의 코드안에 또 반복문의 코드가 작성되는 것을 의미한다.
- 이런 경우, 내부 루프는 외부 루프가 수행되는 만큼 반복 수행 됨
- 또한 중첩의 경우 무한히 가능

```python
a = [1,2,4,5,6,7,8]
for i in a:
    for j in a:
        print(i * j)
```

In [30]:
a = [1,2,4,5]
for i in a:
    for j in a:
        print(i * j)

1
2
4
5
2
4
8
10
4
8
16
20
5
10
20
25

### 구구단 출력해보기

In [32]:
for dan in range(1,10):
            print("{} {}단 {}".format("*"*2,dan,"*"*2)) #화면상에 출력하는 방법
            for i in range(1,10):
                        print("{} * {} = {}".format(dan,i,dan*i))
            print('')

** 1단 **
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9

** 2단 **
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

** 3단 **
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

** 4단 **
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36

** 5단 **
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

** 6단 **
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54

** 7단 **
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

** 8단 **
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72

** 9단 **
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [1]:
x = [2,3,4,5,6,7,8,9]
y = [1,2,3,4,5,6,7,8,9]

for i in x:
    for j in y:
        print(i, 'x', j, '=', i*j)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

### collection의 길이
- len() 내장함수로 계산 가능
- 내장함수란 파이썬 내부에 구현되어 있어서, import하지 않고도 사용 가능한 함수를 의미한다.
- abs, len, type, range 등이 있다

In [3]:
a = [1, 2, 3, 4, 5, 6, 7]
len(a)

7

In [4]:
len('hello python')

12

### range 함수
- 리스트를 쉽게 만들 수 있는 내장함수
- 주어진 값에 따라 다양한 결과를 반환

```python
range(10)     ->[0,1,2,3,4,5,6,7,8,9]
range(2,10)   ->[2,3,4,5,6,7,8,9]
range(2,10,3] ->[2,5,8]

```

- 1~100까지의 리스트 생성하기

In [6]:
#[1,2,3,4,5,6,7,8,9] 이런식으로 직접 리스트를 만들지 않아도 된다
list(range(10)) #이런식으로 간단하게 생성 할 수 있음

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
# 1부터 100까지의 리스트 만드는 방법
# range(a,b) 일경우 b-1의 값으로 마지막 값이 생성된다
# list(range(1,101)) #앞에 #을 지우면 생성가능

In [11]:
# 1부터 50 사이의 5의 배수만을 갖는 리스트를 생성하세요.
list(range(5,51,5))

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]